#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
/* Dark Mode CSS */

body {
  transition: background-color 0.5s, color 0.5s;
 
}

 .light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #2c2c2c;
  color: #ffffff;
} 
.btn-primary {
  margin: 20px;
  background-color: green;
  border: 0px;
}
.btn-secondary {
  margin: 20px;
  border: 0px;
}
.btn-primary:hover {
  background-color: rgb(32, 146, 32);
}
.botbtn
{
  display: flex;
  justify-content: end;
  width: 75vw;
}
.botbtn img
{
  cursor: pointer;
}
#myform {
  border: 1px solid black;
  width: 1000px;
  margin-left: 150px;
}
.darkmodebtn
{
  display: flex;
  justify-content: space-between;
  margin: 0px 800px;
}

.nav-link
{
  text-decoration: none;
  color: rgb(6, 251, 26);
  
}

#navtext-light
{
color:#ffffff;
padding: 0;
margin: 0;
} 
#navtext-dark
{
color: #000000;
padding: 0;
margin: 0;
} 